@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    height: 1024;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
   
    
}
.body2{
    background-color: aqua;
 display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 110px;

        
    
    }
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
    .headercards{
        
        
        background-color: red;
        height: 100px;
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .p1up{
        background-color: green;
        height: 150px;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
 .p1down{
        background-color: yellow;
        height: 31px;
        display: flex;
        justify-content: space-around;
        padding-top: 3px;
        padding-bottom: 3px;
        
        
    }

    .headercards{
        height: 200;
       
           
    }
    .card1{
        
        height: 130px;
        width: 130px;
        background-color: lightgreen;
    }
    .card2{
        height: 130px;
        width: 800px;
        background-color: aqua;
    }

    .card3{
        height: 25px;
        width: 120px;
background-color: aquamarine;
        padding-right: 10px;


    }
    .card4{
        height: 25px;
        width: 50px;
background-color: aquamarine;
    }
   
    .cardnull2{
        height: 130px;
        width: 1000px

    }


   

/* footer css*/
footer{
    background: #5c6bc0;
    height: auto;
    display: flex;
    width: 100%;
    font-family: monospace;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
    text-align: center;
  }

  .footer-content h3{

    font-size: 15px;
    text-transform: capitalize;
  
  
  }
  .footer-contact p {
    max-width: 500px;
    margin: 15px auto;
    line-height: 25px;
    font-size: 323px;
  }
  
  .footerHelp{
  
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 50px ;
    padding: 0px 20px ;
  }
  .footerHelp li {
    margin: 0 10px;
  }
  .footerHelp a {
  
    text-decoration: none;
    color: #fff;
  }

  .footerHelp a i {
  
    font-size: 1.1rem;
    transition: color .4s ease ;
  }
  
  .footerHelp a:hover  {
  
    color: #7799D8;
  }
  .footer-bottom{
  
    font-size: 14px;
    word-spacing: 2px;
    text-decoration: capitalize;
  
  }

  .title{

color: #512da8;
margin-bottom: 90px;
font-family: 'Montserrat', sans-serif;
text-align: center;
font-size: 30px;


  }
  
  .Assrss{

    border-style: solid; 
display: flex;
justify-content: space-around;
margin :5px;


}
.firscontent1{
    display: flex;
    
justify-content: space-between;
margin :30px;
}

.firscontent2{
    display: flex;
    
justify-content: space-between;
margin :30px;
}
.inputwrapper{

    padding: 10px;
}






















/*
                                <div class="card5">card5</div>
                                <div class="card6">card6</div>
                                <div class="card7">card7</div>
                                <div class="card8">card8</div>
                                <div class="card9">card9</div>
                                <div class="card10">card10</div>
                                
                                */







/*patient Information sign in */
.containerInsid{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-top: 10px;
}